<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
     Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 
  <ion-slides 
  [options]="sliderOptions"
  *ngIf="noticiaservi.Noticias.length===0">
    <ion-slide>
      <ion-label>No existen favoritos</ion-label>
    </ion-slide>
  </ion-slides>

<app-noticias 
*ngIf="noticiaservi.Noticias.length>0"
[enfavorito]="true"
[Noticias]="noticiaservi.Noticias"></app-noticias>


 <!-- <app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
